body {
   background-image: url("pexels-photo-360591.jpeg");
   /*background-color: #586584;*/
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;

  &:visited {
    color: #666;
  }

  &:hover {
    color: #fff;
  }
}

th {
  padding-bottom: 5px;
}

td {
  padding-bottom: 7px;
  padding-left: 5px;
  padding-right: 5px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
}

#error_explanation {
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

label {
  display: block;
}


.navbar-default {
    background-color: #eee;
    border-color: #e7e7e7;
}

.padding-15{
  padding: 15px 15px 15px 15px;
}


.col-6-background {
    background-color: #eee;
    padding: 20px 20px 20px 20px;
    border: 1px solid silver;
    min-height: 300px;
    height: auto;
    box-shadow: 0 2px 2px 0;
    border-radius: 25px;
}

.margin-top-100{
  margin-top: 100px;
  margin-bottom: 100px;
}

.contact-details-field{
  border: 1px solid #9ca6ad;
  padding: 10px;
  margin-top: 10px;
}

h3{
  border: 1px solid #9ca6ad;
  padding: 10px;
  background: #cdd5e6;
  font-size: 20px;
}

.group-data-container, .contact-details-field {
    border: 1px solid #9ca6ad;
    margin-top: 20px;
    border-radius: 6px;
    padding: 10px;
    overflow-x: scroll;
}

/*.contact-details-field {
    border: 1px solid #9ca6ad;
    margin:  30px 0px 30px 0px;
    border-radius: 6px;
    padding: 10px;
    overflow-x: scroll;
}*/

.marginRight10{
  margin-right: 10px;
}


.inner-box {
    border: 1px solid #b6a3a3;
    margin: 25px 10px 19px 4px;
    box-shadow: inherit;
    height: auto;
    min-height: 400px;
    border-radius: 25px;
    padding-bottom: 30px;
}

.center-h3 {
    border: 1px solid #9ca6ad;
    padding: 10px;
    background: #cdd5e6;
    font-size: 20px;
    text-align: center;
    border-radius: 7px;
    margin: 20px 0px 20px 0px;
}

@media (max-width: 600px) {
  .col-6-background {
      background-color: #eee;
      padding: 20px 20px 20px 20px;
      border: 1px solid silver;
      min-height: 300px;
      height: auto;
      box-shadow: 0 2px 2px 0;
      border-radius: 25px;
      margin: 40px 5px 0px 5px;
  }
}